.main-program {
  background-image: url(../images/program-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 104.5rem;

  .program-title {
    font-family: $cocogoose-family;
    color: $white-color;
    margin-top: 32.5rem;
  }

  .divider {
    margin: 0.5rem 0 2rem 0;
    border: 1px solid $orange-color;
    width: 10%;
  }

  button {
    margin: 2rem 0 2rem 0;
  }
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
  background-color: #272a31;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  opacity: 0.8;
  width: 20rem;
  height: 10rem;
  gap: 1rem;
  max-width: calc(100% - 2rem);

  .program-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  h3 {
    color: $orange-color;
    font-family: $cocogoose-family;
    font-size: 1.5rem;
    width: 11rem;
    text-align: center;
  }

  p {
    font-family: $lato-family;
    font-size: 1rem;
    width: 14rem;
    text-align: center;
  }
}

.whole-program {
  display: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .main-program {
    height: 101.5rem;

    .program-title {
      font-size: 2rem;
      margin-top: 44.5rem;
    }
  }

  .card {
    width: 66rem;
    height: 7rem;
    max-width: calc(100% - 26rem);
    flex-direction: row;

    .program-icon {
      height: 3.5rem;
    }

    h3 {
      font-size: 1.8rem;
      text-align: inherit;
    }

    p {
      font-size: 1.2rem;
      width: 21rem;
      line-height: 2rem;
      text-align: inherit;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-program {
    height: 92.5rem;
    justify-content: center;

    .program-title {
      font-size: 2rem;
      margin-top: 52.5rem;
    }

    .divider {
      margin-bottom: 4rem;
    }
  }

  .flexbox {
    flex-direction: row;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    width: 13rem;
    max-width: calc(100% - 30rem);
    margin-right: 0.5rem;
    gap: 0.2rem;
    height: 15rem;
    transition: width 1s, height 2s;

    h3 {
      font-size: 1.5rem;
      text-align: center;
      width: 11rem;
    }

    p {
      width: 13rem;
      text-align: center;
    }

    &:hover {
      border: 1px solid $white-color;
      cursor: pointer;
      width: 300px;
      height: 300px;

      .program-icon {
        height: 4rem;
      }

      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .whole-program {
    display: block;
    color: white;
    font-size: 1.5rem;
    padding-top: 5rem;
  }
}
