.logo {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  position: relative;
}

.navbar {
  width: 100%;
  height: 100vh;
  background-color: $white-color;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  transform: translateX(-100%);
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-links {
  height: 6rem;
  display: flex;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  flex-direction: column;
  padding-top: 6rem;
}

.nav-item {
  list-style: none;
  border-bottom: 1px solid $dark-color;
  margin-top: 3rem;

  a {
    font-family: $lato-family;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.4rem;
    text-decoration: none;
    color: $dark-color;
  }
}

.nav-mobile-btn {
  cursor: pointer;
  background: transparent;
  margin-right: 2.4rem;

  .nav-icon {
    height: 2.6rem;
    width: 2.6rem;
    position: relative;
    z-index: 9999999;
  }

  .nav-icon[name="close"] {
    display: none;
  }
}

.active {
  .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-mobile-btn {
    .nav-icon[name="close"] {
      display: block;
    }

    .nav-icon[name="menu"] {
      display: none;
    }
  }
}

.active-page a {
  color: $orange-color;
}

.top-header {
  display: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header {
    background-color: $white-color;
    box-shadow: 2;
  }

  .navbar {
    display: block;
    height: 6rem;
    position: relative;
    transform: none;
    opacity: inherit;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5rem;
    gap: 2rem;
  }

  .nav-item {
    border-bottom: 0;
    margin-top: -5rem;

    a {
      font-size: 1.5rem;

      &:hover {
        color: $orange-color;
      }
    }
  }

  .logo {
    display: block;
    margin-left: 5rem;

    img {
      width: 18rem;
    }
  }

  .nav-mobile-btn {
    display: none;
  }

  .top-header {
    background-color: #3e3e3e;
    height: 3rem;
    display: flex;
    justify-content: end;
    color: $white-color;

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-right: 5rem;

      li {
        list-style: none;
        font-family: $lato-family;

        a {
          text-decoration: none;
          color: $white-color;
        }

        .top-icon {
          height: 1.5rem;
          width: 1.5rem;
          cursor: pointer;
          margin-top: 0.4rem;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo {
    margin-left: 8rem;
  }

  .nav-links {
    margin-right: 8rem;
    gap: 4rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .logo {
    margin-left: 10rem;
  }

  .nav-links {
    margin-right: 10rem;
    gap: 7rem;
  }
}
