.about-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-color;
  height: 22rem;
  width: 100%;

  h1 {
    font-family: $cocogoose-family;
    color: $white-color;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
  }

  .divider {
    margin: 0.5rem 0 -4rem 0;
    border: 1px solid $orange-color;
    width: 10%;
  }
}

.partner-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.google-icon {
  height: 6rem;
  width: 17rem;
}

.mozilla-icon {
  height: 5rem;
  width: 17rem;
}

.naver-icon {
  height: 18rem;
  width: 17rem;
}

.partner {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: $dark-color;
  height: 22rem;
  width: 100%;

  h1 {
    font-family: $cocogoose-family;
    color: $white-color;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
  }

  .divider {
    margin: 0.5rem 0 -4rem 0;
    border: 1px solid $orange-color;
    width: 10%;
  }
}

.show-partner {
  display: flex;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .partner {
    display: flex;
  }

  .about-partner {
    display: none;
  }
}
