@import url("../fonts/Lato-Light.ttf");
@import url("../fonts/Cocogoose\ Pro\ Semilight-trial.ttf");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@import "./variables";
@import "./container";
@import "./grid";
@import "./buttons";
@import "./navbar";
@import "./hero";
@import "./featured-speakers";
@import "./main-program";
@import "./partners";
@import "./footer";
@import "./about";
